{% extends "admin/layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <form rol="form">
            <div class="form-group">
                {{ form_label(form.username, "Nombre de Usuario") }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, "Correo Electrónico") }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.roles, "Permisos") }}
                {{ form_errors(form.roles) }}
                {{ form_widget(form.roles) }}
            </div>
            {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-default' } }) }}
        </form>
    </div>
</div>
{% endblock %}
