{% extends "admin/layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Complete Name</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Last Login Date</th>
                        <th>Sites</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName ~ " " ~ user.lastName }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% if user.lastLogin != null %}{{ user.lastLogin.date }}{% else %}-{% endif %}</td>
                        <td><ul>{% for site in user.getSites() %}<li>{{ site.name }}</li>{% endfor %}</ul></td>
                        <td><ul>{% for role in user.roles %}<li>{{ role }}</li>{% endfor %}</ul></td>
                        <td><button class="btn btn-xs btn-{% if user.enabled == true %}success{% else %}danger{% endif %}">{% if user.enabled == true %}Enabled{% else %}Disabled{% endif %}</button></td>
                        <td><button class="btn btn-xs btn-info">Complete Info</button><button class="btn btn-xs btn-default">Edit</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
